<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Layouts</title>
</head>
<body>
    <a href="../..">Voltar</a>

    <h1>Layouts</h1>

    <ul>
        <li>Table (Pré-histórico)</li>
        
        <li><a href="1_layout_baby_steps.html">Baby Steps</a></li>
        <li>Float (Antigamente)</li>
        <li><a href="2_layout_flexbox.html">Flexbox (Simples)</a></li>
        <li><a href="3_layout_css_grid_areas.html">CSS Grid</a></li>
        <li><a href="4_layout_css_grid_areas_mobile.html">CSS Grid (Com Media Query)</a></li>
    </ul>
</body>
</html>

<style>
</style>