    /* =================
        UNIVERSAL
    =================*/
    * {
        margin-top: 0px;
        padding-top: 0px;
        font-size: 22px;
    }

    html,
    body {
        height: 100vh;
        margin: 0px;
    }

    /* =================
        TIPOGRAFIA
    =================*/
    h1,
    h2,
    h3 {
        max-width: 60ch;
        margin: 20px 0 30px 0;
        font-weight: 700;
    }

    h1 {
        font-size: 2.5em;
    }

    p {
        max-width: 60ch;
        line-height: 30px;
    }

    /* =================
        LAYOUT
    =================*/
    #site {
        height: 100%;
        display: flex;
        flex-direction: column;
    }

    main {
        flex-grow: 1;
    }

    #site>* {
        padding: 35px;
    }

    header {
        display: flex;
        background: rgb(48, 48, 48);
        color: rgb(255, 255, 255);
        align-items: center;
    }

    section {
        margin-bottom: 30px;
        padding: 10px;
    }

    footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        background: rgb(48, 48, 48);
        color: white;
    }

    /* =================
        COMPONENTES
    =================*/

    #imagem-cabecalho {
        width: 3em;
    }

    nav {
        display: flex;
        flex-wrap: wrap;
        column-gap: 50px;
        row-gap: 20px;
    }

    nav a {
        text-decoration: none;
        color: white;
    }

    nav a:hover {
        text-decoration: underline;
        color: lightgray;
    }

    .btn {
        align-self: center;
        border-radius: 20px;
        padding: 6px 15px 10px 15px;
        background: #303030;
        color: rgb(214, 211, 211);
        font-weight: 700;
        transition: 0.5s;
        cursor: pointer;
    }

    .btn:hover {
        background: rgb(214, 211, 211);
        color: black;
        position: relative;
        top: -5px;
        border: solid #303030 1px;
        box-shadow: 0px 5px 6px 0px rgba(0, 0, 0, 0.30);
    }